# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform plan files
*.tfplan

# Ignore sensitive files
*.tfvars

# Ignore Python cache files
__pycache__/

# Ignore R data files
*.rds

# Ignore other temporary files
*.log
*.tmp
